.actionPoolComponent {
  display: flex;
  align-items: center;
}

.actionComponent {
  width: 150px;
  height: 80%;
  margin: 10px;
  background-color: black;
  border: 1px solid;
}

.diceSlot {
  position: relative;
  top: -15px;
  left: 110px;
  /*border: 1px solid white;*/
  width: 64px;
  height: 64px;
}