{
  "presets": [
    ["env", {
      "targets": {
        "node": "8.1"
      },
      "debug": true
    }],
    "react"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "sourceMaps" : true
}
