.mainContainer {
  height: 100%;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 200px;
  grid-template-areas:  "chat"
                        "action";
}

.rollState {
  grid-template-rows: 1fr 100px 200px;
  grid-template-areas:  "chat"
                        "dicepool"
                        "action";
}

.chat {
  grid-area: chat;
}

.map {
  grid-area: map;
}

.dicepool {
  grid-area: dicepool;
}

.action {
  grid-area: action;
}
