.mainContainer {
  height: 100%;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:  "chat";
}

.chat {
  grid-area: chat;
}

.map {
  grid-area: map;
}

.dicepool {
  grid-area: dicepool;
}

.action {
  grid-area: action;
}
