
.messageLogContainer {
  min-height: 0px;
  display:grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr 25px;
  grid-template-areas: "list  list"
                       "input send";
}

.messageLogContainerList {
  grid-area: list;
  overflow-y: scroll;
  min-height: 0px;
  scroll-snap-type: proximity;
}

.messageLogContainerList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.messageLogContainerList::-webkit-scrollbar-thumb {
  background-color: #2aabd2;
  outline: 1px solid #2aabd2;
}

.messageLogContainerInput {
  grid-area: input;
  background-color: black;
  border: 1px solid;
}

.messageLogContainerSend {
  grid-area: send;
  background-color: black;
  border: 1px solid;
}

.messageAuthorName {
  color: #2b542c;
}

.messageScrollContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}