
.messageLogContainer {
  height: 100%;
  display:grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr 25px;
  grid-template-areas: "list  list"
                       "input send";
}

.messageLogContainerList {
  grid-area: list;
}

.messageLogContainerInput {
  grid-area: input;
}

.messageLogContainerSend {
  grid-area: send;
}
